.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 32px;

  width: 100%;

  background: #141414;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.13), 0px 8px 15px 6px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}